#banner {
    background-color: white;
    height: 100px;
    width: 100%;
    background-size: cover;
    font-family: Helvetica;
    font-size: 60px;
    font-weight: bold;
    color: hsl(226, 9%, 15%);
    text-align: center;
}
